@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 200vh;
    font-family: "Playfair", serif;
    -webkit-font-smoothing: antialiased;
    background-color: #01011b;
}

input[type=radio]{
    display: none;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    #img01:checked ~ .carrossel { transform: translateX(0%); }
    #img02:checked ~ .carrossel { transform: translateX(calc(-100vw)); }
    #img03:checked ~ .carrossel { transform: translateX(calc(-200vw)); }

    a{
        display: block;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-inline: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.582), transparent);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.041);

        .nav-logo a{
            font-size: 1.8em;
            color: white;
            font-weight: bold;
            transition: all .6s ease-in-out;

            &:hover{
                color: gold;
            }
        }

        ul{
            display: flex;
            gap: 2rem;
            list-style-type: none;

            li a{
                position: relative;
                font-size: 1.2em;
                font-weight: bold;
                color: #c4c4c4;
                transition: all .6s ease-in-out;

                &:hover{
                    color: white;
                }

                &::before{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    height: 1px;
                    border-radius: 3px;
                    width: 0;
                    background-color: gold;
                    transition: all .6s ease-in-out;
                }

                &:hover::before{
                    width: 100%;
                }
            }
        }
    }

    .carrossel{
        width: 300vw;
        height: 100vh;
        display: flex;
        transition: all .6s ease-in-out;

        .box-carrossel{
            position: relative;
            width: 100vw;
            height: 100vh;
            flex-shrink: 0;
            /* background-image: var(--bg); */
            background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .carrossel-text{
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
                width: 500px;

                h1{
                    position: relative;
                    font-size: 5.8rem;
                    font-weight: bold;
                    color: white;

                    &::after{
                        position: absolute;
                        left: 0;
                        content: '';
                        width: 30px;
                        height: 3px;
                        border-radius: 8px;
                        background-color: gold;
                    }
                }

                p{
                    color: #c4c4c4;
                    font-size: 1.2rem;
                    font-family: sans-serif;
                    line-height: 1.7rem;
                }
            }
        }
    }

    .controle{
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        gap: 1rem;

        label{
            display: block;
            width: 150px;
            height: 90px;
            border: 2px solid transparent;
            border-radius: .8rem;
            overflow: hidden;
            scale: 1;
            transition: all .6s ease-in-out;

            &:hover{
                scale: .9;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}