@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal: #ffa600;
}

img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-princial{
    padding: 12px 14px;
    border-radius: 12px;
    background-color: var(--cor-principal);
    font-size: 1.2rem;
    font-weight: bolder;
    color: #222222;
    text-decoration: none;
}

.btn{
    padding: 12px 14px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 8px #cfcfcf;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #222222;
    text-decoration: none;
}

.texto-destaque{
    color: var(--cor-principal);
}

body{
    position: relative;
    background-color: bisque;
    font-family: "Poppins", sans-serif;
}

input{
    display: none;
}


.container{
    display: flex;
    align-items: center;
    /* padding-inline: 2rem; */
    padding: 1rem;
    width: 95%;
    margin: 0 auto;
}

nav{
    width: 100%;
    box-shadow: 0 3px 8px #e0c8ad;
}

nav .container input:checked ~ .menu-principal{
    display: block;
}

nav .container{
    z-index: 999;
    width: 100%;
    background-color: bisque;
    box-shadow: 0 3px 8px #e0c8ad;

    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
    grid-auto-flow: row;
    grid-template-areas: "logo menuburger"
                         "menuPrincipal menuPrincipal";
    /* padding: 1rem; */
    transition: all .6s ease-in-out;
}

nav .container .logo{
    grid-area: logo;
    color: var(--cor-principal);
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
}

nav .container .menuburger{
    grid-area: menuburger;

    justify-self: flex-end;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 35px;
    height: 20px;
}

nav .container .menuburger .bar{
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 8px;
    transition: all .6s ease-in-out;
}

nav .container .menuburger .bar2{
    height: 4px;
}

nav .container input:checked ~ .menuburger .bar1{
    transform: rotate(45deg) translate(2px, 11px);
}

nav .container input:checked ~ .menuburger .bar2{
    opacity: 0;
}

nav .container input:checked ~ .menuburger .bar3{
    transform: rotate(-45deg) translate(2px, -11px);
}

nav .container .menu-principal{
    grid-area: menuPrincipal;

    display: none;
    margin-block: 1rem;
    text-align: center;
    transition: all .6s ease-in-out;
}

nav .container .menu-principal li{
    list-style-type: none;
    margin-block: 1rem;
}

nav .container .menu-principal li a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #222222;
    font-weight: bolder;
    font-size: 1.2rem;
}

header{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header .container{
    position: absolute;
    top: 80px;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

header .container .header-text h1{
    font-size: 2.5rem;
    text-align: center;
}

header .container .header-text p{
    margin-block: 2rem;
    font-size: 1.4rem;
    text-align: center;
}

header .container .header-text .header-text-contados{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header .container .header-text .header-text-btnSociais{
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header .container .header-img{
    display: none;
}