@media (min-width: 450px){
    nav .container{
        /* display: flex; */
        grid-template-columns: 1fr;
        grid-template-areas: "logo menuPrincipal";
    }

    nav .container input:checked ~ .menu-principal{
        display: flex;
    }

    nav .container .menuburger{
        display: none;
    }

    nav .container .menu-principal{
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
        margin-left: 3rem;
        margin-block: 0;
    }

    header .container{
        grid-template-columns: repeat(2, 1fr);
        display: flex;
    }

    header .container .container-flex{
        display: flex;
        gap: 1rem;
        flex-direction: row-reverse;
    }

    header .container .container-flex .header-img{
        flex-basis: 500px;
        display: block;
        border-radius: 1rem;
        overflow: hidden;
    }

    header .container .container-flex .header-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section .container .container-flex .section-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    section.depoimento .container .container-grid .container-grid-depoimento-text .container-grid-depoimento-text-cards{
        width: 500px;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px){
    header .container .container-flex{
        flex-direction: row;
        align-items: center;
        min-height: 50vh;
    }

    header .container .container-flex .header-img{
        flex-basis: 60%;
    }

    section .container .container-flex .section-cards{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }

    section.depoimento .container .container-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    section.depoimento .container .container-grid .container-grid-depoimento-img{
        display: block;
    }
}
