@media (min-width: 768px){
    nav .container{
        display: flex;
        /* gap: 3rem; */
    }

    nav .container .logo{
        flex: 0 0 auto;
        gap: 1.3rem;
    }

    nav .container .menu_hambuguer{
        display: none;
    }

    nav .container .container_menu{
        display: flex;
    }

    nav .container .container_menu .menu_nav{
        flex: 1 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    nav .container .container_menu .menu_nav div{
        display: flex;
        gap: 1rem;
        margin-inline-start: 3rem;
    }

    nav .container .container_menu .menu_nav div li{
        flex: 0 1 auto;
        padding: 12px 18px;
    }

    nav .container .container_menu .menu_nav a .btn_princial{
        margin-right: 3rem;
    }

    header{
        top: 6.5rem;
    }

    header .header_container_imgPrato{
        display: block;
    }
}