@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --cor-fundo: #fff2f2;
    --cor-primaria: #ffa500;
    --cor-texto-principal: #01002e;
    --cor-texto-segundaria: #4b4b52;
}

input{
    display: none;
}

.container{
    padding: 1rem;
}

nav{
    background-color: var(--cor-fundo);
    /* max-width: 425px; */
}

nav .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

nav .container .logo{
    flex: 0 0 50%;
    font-size: 1.8rem;
    color: var(--cor-primaria);
}

nav .container .logo .logo_text{
    text-transform: uppercase;
}

nav .container .menu_hambuguer{
    flex: 0 0 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

nav .container .menu_hambuguer .btn_hambuguer{
    align-self: flex-end;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
}

nav .container .container_menu{
    flex: 1 0 0;
    display: none;
    transition: all .6s ease-in-out;
}

nav .container input:checked ~ .container_menu{
    display: block;
}

nav .container .container_menu .menu_nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}

nav .container .container_menu .menu_nav li{
    list-style-type: none;
}

nav .container .container_menu .menu_nav li a{
    display: block;
    text-decoration: none;
    color: var(--cor-texto-segundaria);
    text-transform: capitalize;
    font-weight: bolder;
}

nav .container .container_menu .menu_nav .btn_princial{
    background-color: var(--cor-primaria);
    display: block;
    padding: 12px 18px;
    border-radius: 8px;
    color: var(--cor-texto-principal);
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 6px #cf8700;
}