@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --cor-fundo: #fff7f7;
    --cor-primaria: #ffa500;
    --cor-texto-principal: #01002e;
    --cor-texto-segundaria: #4b4b52;
}

body{
    background-color: var(--cor-fundo);
}

.btn_princial{
    background-color: var(--cor-primaria);
    display: block;
    padding: 12px 18px;
    border-radius: 8px;
    color: var(--cor-texto-principal);
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 6px #cf8700;
}

.text_destaque{
    color: var(--cor-primaria);
    text-transform: uppercase;
}

input{
    display: none;
}

.container{
    padding: 1rem;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-fundo);
    box-shadow: 0 2px 8px #c5bbbb;
    z-index: 1;
    /* max-width: 425px; */
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

nav .container .logo{
    flex: 0 0 50%;
    font-size: 1.8rem;
    color: var(--cor-primaria);
}

nav .container .logo .logo_text{
    text-transform: uppercase;
}

nav .container .menu_hambuguer{
    flex: 0 0 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

nav .container .menu_hambuguer .btn_hambuguer{
    align-self: flex-end;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all .6s ease-in-out;
}

nav .container input:checked ~ .menu_hambuguer .btn01{
    transform: rotate(45deg) translate(5px, 11px);
}

nav .container input:checked ~ .menu_hambuguer .btn02{
    opacity: 0;
}

nav .container input:checked ~ .menu_hambuguer .btn03{
    transform: rotate(-45deg) translate(5px, -11px);
}

nav .container .container_menu{
    flex: 1 0 0;
    display: none;
    transition: all .6s ease-in-out;
}

nav .container input:checked ~ .container_menu{
    transition: all .6s ease-in-out;
    display: block;
}

nav .container .container_menu .menu_nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}

nav .container .container_menu .menu_nav li{
    list-style-type: none;
}

nav .container .container_menu .menu_nav li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto-segundaria);
    text-transform: capitalize;
    font-weight: bolder;
}

header{
    position: relative;
    top: 4.5rem;
    width: 90%;
    margin: 0 auto;
}

header .container .header_container_text h1{
    font-size: 3.7rem;
    text-align: center;
}

header .container .header_container_text p{
    text-align: center;
    margin-block: 1.3rem;
}

header .container .header_container_text .header_contado{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding-block: 1.3rem;
}

header .container .header_container_text .header_contado label.tel{
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.26);
}

header .container .header_container_text .header_midiasSociais{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1.3rem;
}