@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --cor-fundo: #fff7f7;
    --cor-primaria: #ffa500;
    --cor-texto-principal: #01002e;
    --cor-texto-segundaria: #4b4b52;
}

body{
    background-color: var(--cor-fundo);
}

img{
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.btn_princial{
    background-color: var(--cor-primaria);
    display: block;
    padding: 12px 18px;
    border-radius: 8px;
    color: var(--cor-texto-principal);
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 6px #cf8700;
}

.text_destaque{
    color: var(--cor-primaria);
    text-transform: uppercase;
}

.contados{
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.26);
}

input{
    display: none;
}

.container{
    padding: 1rem;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-fundo);
    box-shadow: 0 2px 8px #c5bbbb;
    z-index: 1;
    /* max-width: 425px; */
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

nav .container .logo{
    flex: 0 0 50%;
    font-size: 1.8rem;
    color: var(--cor-primaria);
}

nav .container .logo .logo_text{
    text-transform: uppercase;
}

nav .container .menu_hambuguer{
    flex: 0 0 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

nav .container .menu_hambuguer .btn_hambuguer{
    align-self: flex-end;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all .6s ease-in-out;
}

nav .container input:checked ~ .menu_hambuguer .btn01{
    transform: rotate(45deg) translate(5px, 11px);
}

nav .container input:checked ~ .menu_hambuguer .btn02{
    opacity: 0;
}

nav .container input:checked ~ .menu_hambuguer .btn03{
    transform: rotate(-45deg) translate(5px, -11px);
}

nav .container .container_menu{
    flex: 1 0 0;
    display: none;
    transition: all .6s ease-in-out;
}

nav .container input:checked ~ .container_menu{
    transition: all .6s ease-in-out;
    display: block;
}

nav .container .container_menu .menu_nav{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}

nav .container .container_menu .menu_nav li{
    list-style-type: none;
}

nav .container .container_menu .menu_nav li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto-segundaria);
    text-transform: capitalize;
    font-weight: bolder;
}

header{
    position: relative;
    top: 4.5rem;
    width: 90%;
    margin: 0 auto;
}

header .container{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

header .container .header_container_text{
    flex: 0 0 100%;
}

header .container .header_container_text h1{
    font-size: 3.7rem;
    text-align: center;
}

header .container .header_container_text p{
    text-align: center;
    margin-block: 1.3rem;
}

header .container .header_container_text .header_contado{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding-block: 1.3rem;
}

header .container .header_container_text .header_midiasSociais{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1.3rem;
}

header .container .header_container_text .header_midiasSociais a{
    display: block;
    color: #000;
}

header .header_container_imgPrato{
    display: none;
    flex: 0 0 40%;
}

section{
    position: relative;
    top: 5rem;
}

.container_pratos .container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}

.container_pratos .container h3{
    font-size: 2.3rem;
    text-align: center;
}

.container_pratos .container .container_imagens{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.container_pratos .container .container_imagens .card_img{
    position: relative;
    flex-basis: 350px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 8px #c5bbbb;
    border-radius: 12px;
    padding: 18px;
    overflow: hidden;
}

.container_pratos .container .container_imagens .card_img .btn_like{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 1rem;
    background-color: var(--cor-primaria);
    border-radius: 18px 0 0 12px;
    color: #fff;
}

.container_pratos .container .container_imagens .card_img img{
    width: 180px;
    height: 180px;
}

.container_pratos .container .container_imagens .card_img .destaque{
    font-weight: bolder;
    color: #000;
    font-size: 1.5rem;
}

.container_pratos .container .container_imagens .card_img p{
    text-align: center;
    color: #a09999;
}

.container_pratos .container .container_imagens .card_img .avaliacao .fa-star{
    color: var(--cor-primaria);
}

.container_pratos .container .container_imagens .card_img .preco{
    background-color: var(--cor-primaria);
    padding: 18px;
    border-radius: 12px;
}

.container_depoimento .container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container_depoimento .container .container_imagem{
    display: none;
}

.container_depoimento .container .container_depoimento_card{
    flex-basis: 350px;
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 8px #c5bbbb;
    border-radius: 1rem;
    padding: 2rem;
}

.container_depoimento .container .container_depoimento_card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}