@media (min-width: 450px){
    nav .container{
        /* display: flex; */
        grid-template-columns: 1fr;
        grid-template-areas: "logo menuPrincipal";
    }

    nav .container input:checked ~ .menu-principal{
        display: flex;
    }

    nav .container .menuburger{
        display: none;
    }

    nav .container .menu-principal{
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
        margin-left: 3rem;
        margin-block: 0;
    }

    header .container{
        grid-template-columns: repeat(2, 1fr);
    }

    header .container .header-img{
        display: block;
    }
}
