@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;
    background-color: #f5f5f5;
    background-image: linear-gradient(45deg, #f5f5f5, #bbbbbb);
}

h1{
    font-size: 3.4rem;
}

input[type="radio"]{
    display: none;
}

.container-carrosel{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.2rem;
    padding-inline: 1.4rem;
}

.container-carrosel .carrosel-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 1.2rem;
}

.container-carrosel .carrosel-container .slides{
    display: flex;
    transition: all .6s ease-in-out;
    
}

.container-carrosel .carrosel-container .slides .slide-item{
    flex:  0 0 100%;
}

.container-carrosel .carrosel-container .slides .slide-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-carrosel .slides-text{
    position: relative;
    padding: 1.2rem;
    margin-inline: auto;
}

.container-carrosel .slides-text label{
    display: block;
    width: 400px;
    visibility: hidden;
}

.carrosel-controles{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    gap: 2.3rem;
}

.carrosel-controles label{
    flex: 0 0 100px;
    border-radius: 1.3rem;
    overflow: hidden;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.carrosel-controles label:hover{
    transform: scale(1.2);
}

.carrosel-controles label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#radio1:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(0);
}

#radio2:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-100%);
}

#radio3:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-200%);
}

#radio4:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-300%);
}

#radio1:checked ~ .container-carrosel .slides-text #text01{
    visibility: visible;
}

#radio2:checked ~ .container-carrosel .slides-text #text02{
    visibility: visible;
}

#radio3:checked ~ .container-carrosel .slides-text #text03{
    visibility: visible;
    position: absolute;
    top: 0;
}

#radio4:checked ~ .container-carrosel .slides-text #text04{
    visibility: visible;
    position: absolute;
    top: 0;
}