@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
}

body{
    min-height: 100vh;
    width: 100%;
    padding: 1.2rem;
}

h1{
    text-align: center;
    font-size: 3.4rem;
    padding-block: 1rem;
}

input[type="radio"]{
    display: none;
}

.container-carrosel{
   position: relative;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-end;
    width: 100%;
    height: 60vh;
    /*background-color: aqua;*/
}

.container-carrosel .carrosel-container{
    
    position: relative;
    width: 600px;
    aspect-ratio: 16 / 9;
    z-index: 999;
}

.container-carrosel .carrosel-container .slides{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    border-radius: 1.4rem;
    overflow: hidden;
}

.container-carrosel .carrosel-container .slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
.container-carrosel .slides-text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 400px;
}

.container-carrosel .slides-text label{
    display: none;
}

.container-carrosel .slides-text label:nth-child(1){
    display: block;
}

.container-carrosel .slides-text label h2{
    font-size: 2.3rem;
}
*/

.carrosel-controles{
    position: relative;
    right: 100px;
    width: 100%;
    height: auto;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
}

.carrosel-controles label{
    width: 120px;
    aspect-ratio: 16 / 9;
    border-radius: 1.2rem;
    overflow: hidden;
    transition: all .6s;
}

.carrosel-controles label:hover{
    transform: scale(1.2);
}

.carrosel-controles label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#radio1:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(0);
}

#radio2:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-100%);
}

#radio3:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-200%);
}

#radio4:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-300%);
}


/*codigo antico
.container-carrosel{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.2rem;
    padding-inline: 1.4rem;
    height: 60vh;
    width: 100%;
    background-color: aqua;
}

.container-carrosel .carrosel-container{
    position: relative;
    width: 60%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 1.2rem;
}

.container-carrosel .carrosel-container .slides{
    display: flex;
    transition: all .6s ease-in-out;
    
}

.container-carrosel .carrosel-container .slides .slide-item{
    flex:  0 0 100%;
}

.container-carrosel .carrosel-container .slides .slide-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-carrosel .slides-text{
    width: 40%;
    padding: 1.2rem;
    margin-inline: auto;
    transition: all .6s ease-in-out;
}

.container-carrosel .slides-text label{
    display: block;
    width: 400px;
    visibility: hidden;
    position: absolute;
    top: 0;
}

.carrosel-controles{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    gap: 2.3rem;
}

.carrosel-controles label{
    flex: 0 0 100px;
    border-radius: 1.3rem;
    overflow: hidden;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.carrosel-controles label:hover{
    transform: scale(1.2);
}

.carrosel-controles label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#radio1:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(0);
}

#radio2:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-100%);
}

#radio3:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-200%);
}

#radio4:checked ~ .container-carrosel .carrosel-container .slides{
    transform: translateX(-300%);
}

#radio1:checked ~ .container-carrosel .slides-text #text01{
    visibility: visible;
}

#radio2:checked ~ .container-carrosel .slides-text #text02{
    visibility: visible;
}

#radio3:checked ~ .container-carrosel .slides-text #text03{
    visibility: visible;
}

#radio4:checked ~ .container-carrosel .slides-text #text04{
    visibility: visible;
}
    
*/